# Object files
*.o
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*

# Executables
*.exe
*.out
*.app
*.hex

# Debug files
*.idb
*.pdb
*.dbg
