/*
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

#include <windows.h>
#include "svcbatch.h"

#define IDI_MAINICON        101
IDI_MAINICON         ICON   "svcbatch.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST  "svcbatch.manifest"

1 VERSIONINFO
 FILEVERSION SVCBATCH_VERSION_CSV,0
 PRODUCTVERSION SVCBATCH_VERSION_CSV,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments",           SVCBATCH_LICENSE
            VALUE "CompanyName",        SVCBATCH_COMPANY_NAME
            VALUE "FileDescription",    SVCBATCH_DESCRIPTION
            VALUE "FileVersion",        SVCBATCH_VERSION_STR
            VALUE "InternalName",       SVCBATCH_NAME
            VALUE "LegalCopyright",     SVCBATCH_COPYRIGHT
            VALUE "OriginalFilename",   SVCBATCH_NAME ".exe"
            VALUE "ProductName",        SVCBATCH_NAME
            VALUE "ProductVersion",     SVCBATCH_VERSION_STR "." SVCBATCH_VERSION_ABI
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
